language: node_js
node_js:
  - "10.15.3"
install:
  - npm install -g firebase-tools
before_script:
  - CI=true npm run test
script:
  - npm run build
after_success:
  - test $TRAVIS_BRANCH = "master" && firebase deploy --token $FIREBASE_TOKEN



